

body {
    background-color: #65ac1d;
}




.row {


}


.col-sm {
    background-color: #606460;
        border: 2px solid #990005;
    height: 900px;
    width: 250px;
        font-size:24px;

}

.col-sm-1 {
    background-color: #7dba94;
            height: auto;
            width: auto;
}









